/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

 .left {
  width: 70%;
  float: left;
}

.right {
  width: 30%;
  float: left;
}

#cuadro {
  background: transparent;
  display: inline-block;
  height: 100%;
  padding: 20px;
}

.titulos {
	color: #fff;
	font-size: 30px;
  text-align: center;
}